@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", serif;
  font-weight: 400;
  font-style: normal;
  color: #1b1c1e;
}

/* desktop */
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #1b1c1e;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#wrap {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  display: flex;
  align-items: center;
  padding: 0 140px;
}
#header #logo {
  margin-right: 20px;
}
#header #gnb {
  display: flex;
}
#header #gnb li > a {
  color: #fff;
}
#header #gnb .menu01 {
  display: flex;
  width: 410px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin-right: 903px;
}
#header #gnb .menu02 {
  display: flex;
  width: 200px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
#header #gnb .label-menu {
  position: relative;
  z-index: 1000;
}
#header #gnb .label-menu .bar {
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  margin: 10px 0;
  border-radius: 3px;
  transition: all 0.3s;
}

.slide-intro {
  position: relative;
}
.slide-intro .swiper-slide {
  position: relative;
}
.slide-intro .t-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  margin: 0 auto;
  text-align: left;
  color: #fff;
}
.slide-intro .t-container span {
  padding: 10px 30px;
  font-size: 1.125rem;
  background: #000;
  border-radius: 5px;
}
.slide-intro .t-container strong {
  display: block;
  margin: 20px 0 15px;
  font-size: 3.125rem;
  line-height: 1.2;
}
.slide-intro .t-container p {
  margin-bottom: 150px;
  font-size: 1.5rem;
}
.slide-intro .t-container button {
  padding: 10px 30px;
  font-size: 16px;
  color: #fff;
  background: #000;
  border-radius: 5px;
  margin-right: 30px;
}
.slide-intro .t-container button:hover {
  color: #ffba00;
  background: #424d07;
  border: 1px solid #ffba00;
}
.slide-intro .swiper-pagination {
  position: absolute;
  bottom: 100px;
  /* 스와이퍼 하단에 위치 */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  /* 페이지 네비게이션 간 간격 */
  justify-content: center;
}
.slide-intro .swiper-pagination-bullet {
  width: 250px;
  /* 직사각형 너비 */
  height: 2px;
  /* 직사각형 높이 */
  background-color: #808080;
  /* 기본 색 */
  opacity: 0.5;
  transition: opacity 0.3s, transform 0.3s;
}
.slide-intro .swiper-pagination-bullet-active {
  background-color: #fff;
  /* 활성화된 상태의 색 */
  opacity: 1;
  /* 활성화된 상태에서 크기 확대 */
}

#main .sec-eft {
  overflow: hidden;
  margin: 80px 0 160px 0;
}
#main .slide-eft {
  position: relative;
}
#main .slide-eft .swiper {
  overflow: visible;
  width: 85%;
  margin-left: 0;
  margin-right: 0;
}
#main .slide-eft .swiper-slide img {
  transform: translate(30%, 10%);
}
#main .sec01-title {
  margin: 0 140px;
  font-family: Poppins;
  font-size: 2.5rem;
}
#main .swiper-wrapper {
  height: 100vh;
}/*# sourceMappingURL=style.css.map */